@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.fire {
  background-color: #fe6035;
}

.water {
  background-color: #5ea8dc;
}

.grass {
  background-color: #5dbd65;
}

.electric {
  background-color: #f4d442;
}

.fighting {
  background-color: #ce406a;
}

.ice {
  background-color: #76cfc2;
}

.psychic {
  background-color: #f86e73;
}

.poison {
  background-color: #a566c7;
}

.normal {
  background-color: #f1f1f1;
}

.bug {
  background-color: #a8c732;
}

.dark {
  background-color: #6d7482;
}

.dragon {
  background-color: #0969c1;
}

.fairy {
  background-color: #ec8ce3;
}

.flying {
  background-color: #92abdf;
}

.ghost {
  background-color: #7772d3;
}

.ground {
  background-color: #d97847;
}

.rock {
  background-color: #c8b88b;
}

.steel {
  background-color: #53879c;
}

body {
  background-color: #ccc;
}

header {
  background-color: #df1c1d;
  width: 100vw;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
}

.home {
  text-decoration: none;
  position: absolute;
  top: 1.5vh;
  left: 0.3rem;
  width: 2rem;
  height: 2rem;
  border: 3px solid #000;
  border-radius: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home i {
  font-size: 1.5rem;
  color: #000;
}

header h1 {
  margin: auto;
}

#menu-pokemons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 5vh;
  max-height: 10vh;
  scroll-behavior: smooth;
}

.box-pokemons {
  position: relative;
  width: 45%;
  height: 120px;
  border-radius: 10px;
  margin: 0.5rem 0;
  z-index: -1;
  border: 0;
  display: flex;
}

.name-pokemons {
  margin: 10px 0 0 10px;
  text-transform: capitalize;
}

.id-pokemons {
  position: absolute;
  right: 10%;
  top: 28%;
}

.image-pokemons {
  top: 30%;
  width: 4rem;
  position: absolute;
  left: 5%;
}

.menu-type {
  position: absolute;
  top: 45%;
  right: 4%;
}

.type-pokemons {
  border-radius: 10px;
  padding: 0.1rem 0.2rem;
  text-align: center;
  font-weight: 400;
  text-transform: capitalize;
}
